<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>KumbhSans-Black.ttf</string>
		<string>KumbhSans-Bold.ttf</string>
		<string>KumbhSans-ExtraBold.ttf</string>
		<string>KumbhSans-ExtraLight.ttf</string>
		<string>KumbhSans-Light.ttf</string>
		<string>KumbhSans-Medium.ttf</string>
		<string>KumbhSans-Regular.ttf</string>
		<string>KumbhSans-SemiBold.ttf</string>
		<string>KumbhSans-Thin.ttf</string>
	</array>
</dict>
</plist>
